---
import { slugify } from '../../utils/slugify';
import productsData from '../../products.json';

interface Product {
  productName: string;
  category: string;
  price: string;
  image: string;
}

const products: Product[] = productsData.products;
---

<section class="flex">
  <!-- Sidebar Filter Section -->
  <aside class="w-64 p-6 bg-gray-100 border-r border-gray-300">
    <!-- Filter Buttons -->
    <div class="flex flex-col gap-4 mb-6">
      <button class="px-4 py-2 text-left text-gray-700 bg-gray-200 rounded hover:bg-gray-300 transition duration-300" data-filter="all">All</button>
      <button class="px-4 py-2 text-left text-gray-700 bg-gray-200 rounded hover:bg-gray-300 transition duration-300" data-filter="Rolex">Rolex</button>
      <button class="px-4 py-2 text-left text-gray-700 bg-gray-200 rounded hover:bg-gray-300 transition duration-300" data-filter="Richard Mille">Richard Mille</button>
      <button class="px-4 py-2 text-left text-gray-700 bg-gray-200 rounded hover:bg-gray-300 transition duration-300" data-filter="Panerai">Panerai</button>
    </div>

    <!-- Search Input -->
    <div id="search-container" class="mt-6">
      <input
        type="text"
        id="search-input"
        placeholder="Search product name here..."
        class="w-full px-3 py-2 mb-3 border border-gray-300 rounded"
      />
      <button id="search" class="w-full px-3 py-2 text-black bg-blue-600 rounded hover:bg-blue-500">Search</button>
    </div>
  </aside>

  <!-- Main Product Section -->
  <section class="flex-1 p-8 bg-white">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 max-w-6xl mx-auto">
      {products.map((product) => (
        <div class="bg-white  overflow-hidden transition-transform transform hover:scale-105" data-category={product.category} data-name={product.productName}>
          <a href={`/products/${slugify(product.productName)}`}>
            <img class="w-full h-64 object-cover" src={product.image} alt={product.productName} />
          </a>
          <div class="p-4">
            <span class="text-sm text-gray-500 uppercase">Brand</span>
            <h3 class="text-lg font-semibold text-gray-800 mt-1">{product.productName}</h3>
            <p class="text-xl font-bold text-gray-900 mt-2">£{product.price}</p>
          </div>
        </div>
      ))}
    </div>
  </section>
</section>


<script type="module" src="/src/scripts/filter.js"></script>