---

import watchesData from "../../products.json";

// Define a type for a Product
interface Product {
  productName: string;
  category: string;
  price: string;
  year?: string;
  image: string;
}

// Slugify function to create slugs from product names
const slugify = (title: string): string => {
  return title
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, '-')
    .replace(/(^-|-$)/g, '');
};
---

<section class="whats-new-section">
  <h2>What's New</h2>
  <div class="new-items">
    {watchesData.products.map((product: Product, index: number) => (
      <div class={`item-card-wrapper ${index % 2 !== 0 ? 'reverse-layout' : ''}`}>
        <div class="item-card">
          <!-- Link around product image -->
          <a href={`/${slugify(product.productName)}`}>
            <img class="card-image" src={product.image} alt={product.productName} />
          </a>
        </div>
        <div class="card-info">
          <!-- Link around the product title -->
          <a href={`/${slugify(product.productName)}`} class="product-title">
            {product.productName}
          </a>
          <p class="product-description">Category: {product.category}</p>
          <p class="product-price">Price: ${product.price}</p>
          <a href={`/${slugify(product.productName)}`} class="shop-now">
            View Product
          </a>
        </div>
      </div>
    ))}
  </div>
</section>